:global(.vtex-account) {
    max-width: 1200px;
    margin: 0 auto;
}


.dataEntryLabel {
    width: 100%;
    height: 43px;
    font-size: 14px;
    border-radius: 0.5rem;
    padding: 0 7px;
    display: flex;
    align-items: center;
    margin-bottom: -2rem;
}


.phoneNumberContainer,
.genderContainer,
.nameContainer {
    gap: 27px;
}

.dataEntryChildren {
    padding-top: 34px;
    padding-left: 6px;
}


.account__page-body,
.profile {
    width: 87vw;
    margin: 0 auto;
}


.profile :global(.flex-row-ns) {
    display: flex;
    flex-direction: column;
}

.boxContainer {
    max-width: 48vw !important;
    border: 1px solid #D6D4D4;
    border-radius: 0.375rem;
}

:global(.vtex-pageHeader__container) {
    font-family: 'NeutraText';
    font-size: 1.13rem;
    font-weight: 600;
    margin-left: -1.2rem !important;
    margin-bottom: -1.5rem !important;
}

:global(.vtex-pageHeader__title) {
    font-family: 'NeutraText';
    font-size: 22px;
    font-weight: 600;
}

.newsletterBoxContainer {
    width: 100vw !important;
    max-width: 51.5vw !important;
}

.newsletterBoxContainer :global(.vtex-my-account-1-x-boxContainerBody) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.passwordBox {
    display: flex;
    justify-content: center;
}

.boxContainerBody {
    padding-left: 1.5rem;
}


.profile :global(.vtex-button) {
    width: 180px;
    height: 30px;
    background: #ED1B24;
    border: none;
    border-radius: 25px;
    margin: 0 10px 10px 0;
}


.profile :global(.vtex-button__label) {
    font-family: NeutraText;
    color: #ffffff;
    font-weight: 600;
    font-size: 1rem;
    text-transform: none;
    letter-spacing: 0;
}


.profileFormBoxContainer :global(.mw6-ns) {
    max-width: 47vw !important;
    margin: 0 auto;
}

.profileFormBoxContainer :global(.border-box) {
    border-radius: 0.5rem;
    background: #E0E0E0;
    border: 1px solid #E0E0E0;
}

:global(.vtex-dropdown) :global(.br2) {
    border-radius: 0.5rem;
    border: 1px solid #E0E0E0;
}

:global(.vtex-profile-form-3-x-toggleBusinessButtonWrapper) :global(.vtex-button) {
    color: #FFF;
    background: black;
    border: none;
}

:global(.vtex-profile-form-3-x-profileContainer) :global(.vtex-button__label) {
    font-weight: 600;
    background: #ED1B24 !important;
    border: none !important;
}

:global(.vtex-profile-form-3-x-profileContainer) :global(.vtex-button):global(.bg-action-primary):hover {
    border: #ED1B24;
    background: #ED1B24;
}


.userGreeting {
    font-family: 'NeutraText';
    font-size: 24px;
    font-weight: 700;
    color: #444343;
    text-transform: capitalize;
}


.userInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

:global(.vtex-profile-form-3-x-toggleBusinessButtonWrapper) {
    margin-bottom: 1rem;
}

.newsletterContainerTitle {
    font-family: 'NeutraText';
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: capitalize;
}

.newsletterContainerMessage {
    font-family: 'NeutraText';
    font-size: 0.875rem;
    font-weight: 500;
    text-transform: capitalize;
    padding: 3vh;
}

:global(.vtex-checkbox__line-container) {
    display: flex;
    align-items: center;
}

:global(.vtex-checkbox__label) {
    font-family: 'NeutraText';
    font-size: 0.675rem;
    font-weight: 500;
    color: #686868;
    text-transform: capitalize;
}

.addressList :global(.vtex-button) {
    width: 160px;
    height: 30px;
    background: #ED1B24;
    border: none;
    border-radius: 25px;
    margin: 0 10px 10px 0;
}

.addressList :global(.vtex-button__label) {
    color: #FFF;
    font-weight: 600;
}


:global(.vtex-pageHeader__container) :global(.vtex-button) {
    font-family: 'NeutraText';
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
}

:global(.vtex-checkbox__inner-container) {
    border: 0.5px solid #BFBFBF;
}

:global(.vtex_my-authentication_box_container) {
    border: 1px solid #BFBFBF;
    border-radius: 0.5rem;
}

:global(.vtex_my-authentication_authenticationScreen_container) :global(.vtex-button) {
    width: 210px;
    height: 30px;
    background: #ED1B24;
    border: none;
    border-radius: 25px;
    margin: 3px 0px 5px 12px;
}

:global(.vtex_my-authentication_authenticationScreen_container) :global(.vtex-button__label) {
    color: #FFF;
    font-size: 1rem;
    text-transform: initial;
    font-weight: 600;
}

:global(.vtex-account_menu-link) {
    font-size: 1rem;
    font-weight: 600;
}

:global(.vtex-my-account-1-x-menuLink) {
    font-size: 1rem;
    font-weight: 600;
}


:global(.vtex-pageHeader-link__container) {
    margin-bottom: 1.5rem;
}

:global(.vtex-account__cards-list) {
    padding-top: 1.5rem;
}



@media (max-width:1024px) {
    :global(.vtex-account) {
        max-width: 88vw;
        margin: 0 auto;
    }

    .boxContainer {
        max-width: 100vw !important;
    }

    :global(.vtex-pageHeader__container) {
        margin-left: 0 !important;
        margin-bottom: 0 !important;
    }

    .newsletterBoxContainer {
        width: 100vw !important;
        max-width: 81vw !important;
    }

    .phoneNumberSubContainer,
    .dateOfBirthSubContainer,
    .genderSubContainer,
    .documentsSubContainer,
    .lastNameSubContainer,
    .emailContainer,
    .firstNameSubContainer {
        margin-bottom: 1rem;
    }

    .menu {
        padding: 25px 0;
    }

    :global(.vtex-account_menu-link) {
        margin: 0;
        padding: 10px;
    }

    :global(.vtex-my-account-1-x-menuLink) {
        padding: 0 9px;
    }

    :global(.vtex-pageHeader-link__container) {
        margin-bottom: 2rem;
    }

    .profileFormBoxContainer :global(.mw6-ns) {
        max-width: 85vw !important;
        margin: 0 auto;
    }

    :global(.vtex-pageHeader__title) {
        margin-bottom: 1rem;
    }

    .addressBox {
        display: flex;
        flex-direction: column;
    }

}