.videoContainer
{
  width: 100%;
  height: auto;
  margin-left: 180px;
  border-color: white;
}

.videoElement
{
  width: 100%;
  height: auto;
}

.videoElement--banner-quienes-somos
{
  height: 350px;
}

.videoContainer--banner-quienes-somos
{
  height: 350px !important;
}

.videoContainer--instatile-video
{
  margin-left: 0px;
}

.videoElement--instatile-video
{
  height: 400px;
  border-radius: 8px;
}

.videoContainer--pupi
{
  margin-bottom:  250px !important;
  margin-left:  0 !important;
  margin-right: 0 !important;
  padding: 0 !important;
}
.videoElement--pupi
{
  height: 980px !important;
  width: 1280px !important;
}
.videoContainer--pupi-m
{
  justify-content: center;
  align-items: center;
  margin-left: 40px !important;
  padding-right: 180px;
  padding-left: 0px;
  margin-bottom:  0 !important;
}
.videoElement--pupi-m   { height: 376px !important;     width: 470px !important;  }

@media (min-width: 481px) and (max-width: 767px)
{
/* */
}

@media only screen and (min-width: 1025px)
{
  .videoContainer {
    height: 700px;
  }

  .videoContainer--instatile-video {
    height: auto;
  }
}

@media only screen and (max-width: 1024px)
{
  .videoElement--instatile-video{
    height: 300px;
    border-radius: 0px;
  }
}
