.link--boton-talla-txt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px !important;
  height: 75px !important;
  font-size: 35px;
  font-weight:500;
  color: #707070;
  text-decoration: none;
  background: #f8f9fa;
  border: 2px solid #e9ecef;
  border-radius: 15px;/*50%;*/
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.link--boton-talla-txt:hover {
  background: #ED1B24;
  color: white;
  border-color: #ED1B24;
  transform: scale(1.1);
  box-shadow: 0 4px 12px rgba(0, 123, 255, 0.3);
}

.link--boton-talla-m-txt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px !important;
  height: 75px !important;
  font-size: 35px;
  font-weight:500;
  color: #ffffff;
  text-decoration: none;
  background: #ED1B24;
  border: 2px solid #e9ecef;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.8s ease;
  /* Sombra suave y difusa, como en la imagen */
  box-shadow: inset 0 4px 4px rgb(0 0 0 / 60%);
}

.link--boton-talla-m-txt:hover {
  background: #FFFFFF;
  color: #ED1B24;
  border-color: #ED1B24;
  /* Sombra m치s intensa al hacer hover para dar sensaci칩n de "presi칩n" */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  /* Opcional: puedes a침adir un ligero movimiento hacia abajo */
  transform: translateY(2px);
}
