.listPrice {
  color: #727273;
  margin-bottom: 0.25rem;
  font-size: 1rem;
}

.sellingPrice {
  color: #3f3f40;
  font-size: 1rem;
}

.sellingPriceValue {
  font-size: 18px;
  font-weight: 700;
}

.installments {
  color: #727273;
  margin-bottom: 1rem;
}

.savings {
  font-weight: 500;
  color: #79B03A;
}

.sellingPriceValue--summary {
  font-size: 1.25rem;
  font-weight: 600;
  color: #2E2E2E;
}

.savings--summary {
  background: #8BC34A;
  border-radius: 1000px;
  align-items: center;
  display: flex;

  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #FFFFFF;
}

.savings-discount--summary {
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #FFFFFF;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.listPrice--summary {
  justify-content: center;
  display: flex;
  margin-bottom: 0.25rem;
  /* font-size: .875rem; */
}

.installments--summary {
  margin-bottom: 2rem;
  font-size: 0.875rem;
}

.savings--summaryPercentage {
  background: #0f3e99;
  border-radius: 1000px;
  align-items: center;
  display: flex;
}

.savingsPercentage--summaryPercentage {
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #FFFFFF;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}
/* ========  Badge en producto =============  */
.savingsPercentage--discount-badge-product
{
  background-color: #FF0000; /* Rojo brillante, ajusta si tienes un tono específico */
  color: white;              /* Texto en blanco */
  padding: 0px 0px 0px 4px;          /* Espaciado interno: 4px arriba/abajo, 8px izquierda/derecha. Ajusta al gusto. */
  font-weight: bold;         /* Texto en negrita */
  font-size: 1.3em;          /* Un poco más pequeño que el texto normal, o ajústalo (ej. 14px) */
  border-radius: 3px;        /* Bordes ligeramente redondeados */
  display: inline-block;     /* Permite que se comporte como un bloque pero fluya con el texto si es necesario */
  line-height: 0.8;            /* Ajusta la altura de línea para centrar el texto verticalmente si es necesario */
  margin-left: 1px;          /* Espacio a la izquierda si está al lado de otro texto (opcional) */
  vertical-align: middle;    /* Alinea la insignia verticalmente con el texto circundante si es necesario */
}
.savings--discount-badge-product
{
  background-color: #FF0000; /* Rojo brillante, ajusta si tienes un tono específico */
  color: white;              /* Texto en blanco */
  padding: 4px 1px 7px 8px;          /* Espaciado interno: 4px arriba/abajo, 8px izquierda/derecha. Ajusta al gusto. */
  font-weight: bold;         /* Texto en negrita */
  font-size: 1.4em;          /* Un poco más pequeño que el texto normal, o ajústalo (ej. 14px) */
  border-radius: 6px;        /* Bordes ligeramente redondeados */
  line-height: 0.8;            /* Ajusta la altura de línea para centrar el texto verticalmente si es necesario */
  display: inline-block;     /* Permite que se comporte como un bloque pero fluya con el texto si es necesario */
  margin-left: 8px;          /* Espacio a la izquierda si está al lado de otro texto (opcional) */
  vertical-align: middle;    /* Alinea la insignia verticalmente con el texto circundante si es necesario */
  width: 85%;
}
.savings--discount-badge-product[data-discount="0"],
.savings--discount-badge-product[data-discount="0%"],
.savings--discount-badge-product[data-discount="-0%"] {  display: none !important; }

.savingsPercentage--discount-badge-product[data-discount="0"],
.savingsPercentage--discount-badge-product[data-discount="0%"],
.savingsPercentage--discount-badge-product[data-discount="-0%"] {  display: none !important; }

.listPrice--price-summary-shelf {
  font-family: 'Neutra Display';
  font-size: 17px;
  display: flex;
  flex-direction: column;
  color: #ED1B24;
  padding-top: 0;
  padding-right: 10px;
  font-weight: 100;
}


.sellingPrice--selling-summary-shelf {
  font-family: 'Neutra Display';
  font-style: normal;
  color: #3D3C3C;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.05rem;
}

.currencyFraction--selling-summary-shelf  { display: none !important; }
.currencyDecimal--selling-summary-shelf   { display: none !important; }

/* .currencyContainer {
  color:  #3D3C3C;
text-align: center;
font-family: 'Neutra Display';
font-size: 28px;
font-weight: 400;

} */

@media (max-width:1024px) {
  .sellingPriceValue {
    font-size: 14px;
    font-weight: 700;
  }

  .listPrice--price-summary-shelf {
    padding-right: 0;
  }

  .listPrice--price-summary-shelf {
    font-size: 12px;
    padding-top: 2px !important;
  }
}
