@font-face{
    font-family: 'Poppins';
    src: url(assets/fonts/Poppins-Regular.otf);
}

@font-face{
    font-family: 'NeutraText';
    src: url(assets/fonts/NeutraText-Book.otf);
}

@font-face{
    font-family: 'Neutra Display';
    src: url(assets/fonts/NeutraDispTitling.otf);
}

@font-face{
    font-family: 'NeutraTextTF';
    src: url(assets/fonts/NeutraTextTF-Book.otf);
}

@font-face{
    font-family: 'Neutra Display Medium';
    src: url(assets/fonts/NeutraDisplay-Medium.otf);
}

@font-face{
    font-family: 'NeutraTextAltBold';
    src: url(assets/fonts/Neutra-Text-Alt-Bold.ttf);
}

@font-face{
    font-family: 'NeutraTextBook';
    src: url(assets/fonts/neutra-text-alt-587261020eccb.otf);
}



